/*-------------------- reset stylesheet --------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, p, a, ul, ol, li, img, article, aside, blockquote, figure, figcaption, footer, header, hgroup, menu, nav, section, time {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, time {
    display: block;
}

html, body {
    height: 100%;
}
body {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f9f9f9;
}

/*LAYOUT*/
#body_header {
    width: 100%;
    background-color: #3d505b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    margin-bottom: 20px;
    z-index: 9999;
}

#body_content {
    padding-top: 60px;
    width: 100%;
    height: 100%;
}

#main_sidebar {
    float: left;
    width: 220px;
    background-color: #f5f5f5;
    border-right: 1px solid #dedede;
    overflow-y: auto;
    position:fixed;
    bottom:0;
    top:60px;
}

#main_content {
    height: 100%;
    padding-left:220px;
}

#page_content {
    padding: 20px 20px 0 20px;
}
#editors_content {
    padding: 20px;
}
#iframe_content {
    -webkit-overflow-scrolling: touch;
}







/* TOP NAVS */
.navbar-logo {
    float: left;
    font-size: 18px;
    display: block;
    line-height: 20px;
    width: 220px;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.navbar-logo:hover {
    color: #fff;
    background-color: rgba(209,209,240,0.1);
}


.navbar-links {
    float: left;
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 0;
}
.navbar-links li {
    display: inline;
    float: left;
    margin-right: 4px;
}

.navbar-links a {
    color: #e4faff;
    padding: 6px 8px;
    margin: 4px 2px;
    font-size: 14px;
    border-radius: 4px;
}
.navbar-links a:hover {
    background-color: rgba(209,209,240,0.2);
    color: #ffffff;
}
.navbar-links a.active {
    background-color: rgba(209,209,240,0.3);
    color: #ffffff;
}

#navbar_site {
    float: right;
    margin: 18px 20px 0 0;
}

#navbar_account {
    float: right;
    margin: 18px 12px 0 0;
}






/*
SIDEBAR
*/
#main_sidebar h2
{
    padding: 9px 12px;
    line-height: 1;
    font-size: 14px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background: #F8F8F8;
    text-transform: capitalize;
}


/*
SIDEBAR WIDGETS
*/
#theme_select_wrap {
    padding: 8px 12px;
}
#theme_select_wrap label {
    line-height: 1;
    font-size: 14px;
    font-weight: normal;
}
#theme_select_wrap select {
    padding: 5px;
}


#filter_wrap
{
    border-bottom: 1px solid #DDD;
    background: white;
    line-height: 1;
    margin: 10px;
}
#filter_wrap input
{
    width: 100%;
    border: none;
    background-color: white;
    margin: 0;
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.2;
}

#tags_wrap
{
    margin-top: 10px;
}








/* TYPOGRAPHY */
a {
    outline: none;
    text-decoration: none;
    color: #07C;;
}
a:hover {
    color: #122632;
}

h1 {
    margin-bottom: 14px;
    font-size: 22px;
}
h1 > small {
    font-size: 80%;
    color: #777;
}
h1 > small:before {
    content: "/ ";
    padding: 0 5px;
    color: #ccc;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.CodeMirror {
    height: 470px;
    margin-bottom: 14px;
    border-bottom: 1px solid #ccc;
}

table.datalist {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

table.datalist th, table.datalist td {
    text-align: left;
    padding: 8px;
}
table.datalist th{
    background-color: #e0e0e0;
}
table.datalist td.actions {
    text-align: right;
}
table.datalist tr{
    background-color: #ffffff;
}
table.datalist tr:nth-child(even){
    background-color: #f2f2f2;
}




.snippet-tags{
    margin: 0 0 20px 0;
}

.snippet-header {
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
    padding: 6px;
}
.snippet-date {
    color: #7c7c7c;
    font-size: 13px;
}
.snippet-link {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

.snippet-buttons {
    display: block;
    border-bottom: 1px solid #dcdcdc;
    height: 46px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.snippet-buttons li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.snippet-buttons a {
    font-size: 17px;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 25px 9px 25px;
}
.snippet-buttons a:hover {
    border-top: 3px solid #b6b6b6;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    background-color: #f7f7f7;
}
.snippet-buttons li.active a, .snippet-buttons li.active a:hover {
    border-top: 3px solid #2f5973;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    background-color: #ffffff;
}

#open_iframe {
    text-decoration: underline;
}


.snippet-frame {
    display: block;
    border: 0;
    width: 100%;
    min-height: 42px;
    margin: 0;
    padding: 0;
    transform: scale(1);
}
.snippet-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.snippet-item .snippet-frame {
    height: 250px;
}
.snippet-item .snippet-tags {
    margin-bottom: 0;
}

.tags-list {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.tags-list li {
    float: left;
    margin: 0 7px 8px 0;
}
.tags-list li a {
    display: block;
    line-height: inherit;
    font-size: .9375em;
    font-weight: normal;
    color: #778187;
    background: #fafafa;
    vertical-align: top;
    padding: 5px 6px 6px 6px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 -2px rgba(255,255,255,0.1), inset 0 -3px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 -2px rgba(255,255,255,0.1), inset 0 -3px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.05);
}
.tags-list li a .count
{
    background: #e5e5e5;
    font-weight: normal;
    font-size: 85%;
    padding: 2px 4px;
    border-radius: 5px;
}
.tags-list li.active a {
    background-color: #20aae5;
    color: white;
}
.tags-list li.active a .count{
    background-color: #2087bf;
}


.tags-count
{
    background: #E4E4E4;
    font-weight: normal;
    font-size: 85%;
    padding: 2px 4px;
    border-radius: 5px;
}


.btn {
    background-color: #00769c;
    color: #fff;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}
.btn:active, .btn:hover {
    background-color: #006f95;
    color: #e9f5ff;
}
.btn.active {
    background-color: #00516d;
}



.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #337ab7;
}

.form-group {
    margin-bottom: 12px;
}
.form-control {
    width: 100%;
    padding: 7px;
}

.control-label {
    font-weight: 600;
    display: block;
}
.help-block {
    font-size: 13px;
    color: #ff0000;
}